@model FastTravel.ViewModels.PackageView

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@if (Model.chosenPackage != -1)
{
  <div 
  data-controller="modal"
  id="modal-wrapper"
  class="hidden relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
    <div 
    id="modal-backdrop" 
    class="fixed inset-0 bg-slate-900 bg-opacity-75 transition-opacity backdrop-blur h-full"
    >
    </div>
        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
                <div 
                id="modal-panel" 
                class="relative transform overflow-hidden divide-slate-700 rounded-lg bg-slate-800 text-left shadow-xl transition-all max-h-screen mt-28 mb-24 w-full md:mx-10 lg:mx-20 xl:mx-28"
                >
                    <div class="flex w-full">
                        <div class="w-1/5 p-4 flex flex-col">
                            <img src="https://a0.muscache.com/im/pictures/dc77b547-0d65-438e-8946-c10fc355866d.jpg?im_w=720" class="mb-3 drop-shadow-lg rounded-xl w-full aspect-square object-cover pointer-events-none" />
                            <p class="text-white xl:text-lg">To: @Model.curr.flight1.destination.country - @Model.curr.flight1.destination.city</p>
                            <p class="text-white xl:text-lg">Take off: @Model.curr.flight1.dateFrom</p>
                            <p class="text-white xl:text-lg">Available Seats: @Model.curr.flight1.seatsRemain</p>
                            <p class="text-white xl:text-lg">Child Price: @Model.curr.flight1.child$</p>
                            <p class="text-white xl:text-lg">Adult Price: @Model.curr.flight1.adult$</p>
                            <p class="text-white xl:text-lg">Elder Price: @Model.curr.flight1.elder$</p>
                        </div>
                        <div class="w-4/5 p-4 flex flex-col gap-4 max-h-screen">
                            <div class="flex-none flex justify-between font-bold leading-tight text-xl text-white">
                                <div class="flex items-center">
                                    <h1>From&nbsp</h1>
                                    <h1 class="text-mint">@Model.curr.flight1.source.country - @Model.curr.flight1.source.city</h1>
                                    <h1>&nbspto&nbsp</h1>
                                    <h1 class="text-mint">@Model.curr.flight1.destination.country - @Model.curr.flight1.destination.city</h1>
                                </div>
                                <button id="closeBtn" class="bg-slate-800 rounded-full font-bold text-white uppercase p-1 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor" /></svg>
                                </button>
                            </div>
                            <div class="flex-1 flex-col overflow-y-scroll p-4 text-white bg-slate-700 shadow-inner gap-6">
                                @if (@Model.curr.flight1.stop1 == null)
                                {
                                    <div>
                                        <p>Flight Number: @Model.curr.flight1.flightNumber - Flight Company: @Model.curr.flight1.plane.company - Flight Duration</p>
                                        <p>Origin Country: @Model.curr.flight1.source.country | @Model.curr.flight1.dateFrom | City: @Model.curr.flight1.source.city | Port: @Model.curr.flight1.source.name</p>
                                        <p>Destination: @Model.curr.flight1.destination.country | @Model.curr.flight1.dateTo | City: @Model.curr.flight1.destination.city | Port: @Model.curr.flight1.destination.name</p>
                                        <br>
                                    </div>
                                }
                                @if (@Model.curr.flight1.stop1 != null)
                                {
                                    <div>
                                        <p>Flight Number: @Model.curr.flight1 - Flight Company: @Model.curr.flight1.plane.company - Flight Duration</p>
                                        <p>Origin Country: @Model.curr.flight1.source.country | @Model.curr.flight1.dateFrom | City: @Model.curr.flight1.source.city | Port: @Model.curr.flight1.source.name</p>
                                        <p>Destination: @Model.curr.flight1.stop1.country | @Model.curr.flight1.date1 | City: @Model.curr.flight1.stop1.city | Port: @Model.curr.flight1.stop1.name</p>
                                        <br>
                                    </div>
                                    @if (@Model.curr.flight1.stop2 != null)
                                    {
                                        <div>
                                            <p>Flight Number: @Model.curr.flight1 - Flight Company: @Model.curr.flight1.plane.company - Flight Duration</p>
                                            <p>Origin Country: @Model.curr.flight1.stop1.country | @Model.curr.flight1.date1 | City: @Model.curr.flight1.stop1.city | Port: @Model.curr.flight1.stop1.name</p>
                                            <p>Destination: @Model.curr.flight1.stop2.country | @Model.curr.flight1.date2 | City: @Model.curr.flight1.stop2.city | Port: @Model.curr.flight1.stop2.name</p>
                                            <br>
                                        </div>
                                        <div>
                                            <p>Flight Number: @Model.curr.flight1 - Flight Company: @Model.curr.flight1.plane.company - Flight Duration</p>
                                            <p>Origin Country: @Model.curr.flight1.stop2.country | @Model.curr.flight1.date2 | City: @Model.curr.flight1.stop2.city | Port: @Model.curr.flight1.stop2.name</p>
                                            <p>Destination: @Model.curr.flight1.destination.country | @Model.curr.flight1.dateTo | City: @Model.curr.flight1.destination.city | Port: @Model.curr.flight1.destination.name</p>
                                            <br>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <p>Flight Number: @Model.curr.flight1 - Flight Company: @Model.curr.flight1.plane.company - Flight Duration</p>
                                            <p>Origin Country: @Model.curr.flight1.stop1.country | @Model.curr.flight1.date1 | City: @Model.curr.flight1.stop1.city | Port: @Model.curr.flight1.stop1.name</p>
                                            <p>Destination: @Model.curr.flight1.destination.country | @Model.curr.flight1.dateTo | City: @Model.curr.flight1.destination.city | Port: @Model.curr.flight1.destination.name</p>
                                            <br>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="flex-none flex justify-between items-center font-bold leading-tight text-xl text-white">
                                <div class="flex">
                                    <p>Stops:&nbsp</p>
                                    <p>@Model.curr.flight1.stops</p>
                                </div>
                                <div class="flex items-center">
                                    <form method="post" asp-action="Checkout">
                                        <input asp-for="chosenPackage" hidden value="@Model.chosenPackage">
                                        <button type="submit" class="bg-slate-800 rounded-full font-bold text-white uppercase py-2 px-6 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">Proceed
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<div class="flex flex-col flex-1 px-6 lg:px-10 xl:px-20">
  <div class="flex-none w-full h-20">
    <div class="flex justify-between items-center w-full h-full">
      <div class="w-28">
        <button 
          id="FilterButton"
          type="button" 
          class="p-2 group hover:scale-105 active:scale-90 transition-all flex items-center relative px-2 border drop-shadow-lg bg-slate-800 hover:bg-mint border-white hover:border-mint rounded-full hover:drop-shadow-xl"
        >
          <svg id="FilterIcon" class="text-white ml-1 group-hover:text-slate-800 transition-all" width="24" height="24" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8C6 7.44772 6.44772 7 7 7H17C17.5523 7 18 7.44772 18 8C18 8.55228 17.5523 9 17 9H7C6.44772 9 6 8.55228 6 8Z" fill="currentColor" />
            <path d="M8 12C8 11.4477 8.44772 11 9 11H15C15.5523 11 16 11.4477 16 12C16 12.5523 15.5523 13 15 13H9C8.44772 13 8 12.5523 8 12Z" fill="currentColor" />
            <path d="M11 15C10.4477 15 10 15.4477 10 16C10 16.5523 10.4477 17 11 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H11Z" fill="currentColor" />
          </svg>
          <p id="FilterText" class="text-white group-hover:text-slate-800 transition-all pr-3 font-bold uppercase">Filter
          </p>
        </button>
        <form method="post" asp-action="Index"  
          class="hidden transition-all absolute z-10 mt-2 origin-top-left divide-y divide-slate-700 rounded-md bg-slate-800 drop-shadow-lg hover:drop-shadow-xl border border-white hover:border-mint"
          id="FilterItems"
          role="menu" 
          aria-orientation="vertical" 
          aria-labelledby="menu-button" 
          tabindex="-1"
        >
          <div class="p-4" role="none">
            <div class="grid grid-cols-6 gap-4 items-center">
              <p class="text-white text-sm col-span-1">Price Range From:</p>
              <input asp-for="filter.minPrice" type="text" placeholder="Minimum Price" class="col-span-2 px-4 py-3 w-full text-white font-bold transition-all drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl rounded-md placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none">
              <p class="text-white text-sm col-span-1">To:</p>
              <input asp-for="filter.maxPrice" type="text" placeholder="Maximum Price" class="col-span-2 px-4 py-3 w-full text-white font-bold transition-all drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl rounded-md placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none">
              <p class="text-white text-sm col-span-1">Direct Flights Only:</p>
              <div class="flex justify-start col-span-5 py-3">
                <input class="h-4 w-4 rounded accent-[#00FF90]" type="checkbox" value="" id="direct">
                <input id="directFlight" asp-for="filter.directOnly" hidden />
              </div>
              <p class="text-white text-sm col-span-1">Date:</p>
              <div class="col-span-5 flex items-center flex-1 justify-center">
                <div class="datepicker relative form-floating xl:w-96 flex flex-1" data-mdb-toggle-button="false">
                  <input asp-for="filter.dateSource" type="datetime"
                    class="form-control transition-all drop-shadow-lg block text-sm bg-slate-800 w-full pl-4 py-3 font-bold text-white placeholder-white border border-white rounded-md hover:drop-shadow-xl focus:drop-shadow-xl hover:placeholder-mint focus:placeholder-mint focus:ring-0 hover:text-mint focus:text-mint focus:border-mint hover:border-mint outline-none focus:outline-non"/>
                  <label for="floatingInput" class="sr-only">Select a date</label>
                </div>
              </div>
              <p class="hidden text-white text-sm col-span-1">Date Back:</p>
              <div class="hidden col-span-5 flex items-center flex-1 justify-center">
                <div class="datepicker relative form-floating xl:w-96 flex flex-1" data-mdb-toggle-button="false">
                  <input type="date"
                    class="form-control transition-all drop-shadow-lg block text-sm bg-slate-800 w-full pl-4 py-3 font-bold text-white placeholder-white border border-white rounded-md hover:drop-shadow-xl focus:drop-shadow-xl hover:placeholder-mint focus:placeholder-mint focus:ring-0 hover:text-mint focus:text-mint focus:border-mint hover:border-mint outline-none focus:outline-non"/>
                  <label for="floatingInput" class="sr-only">Select a date</label>
                </div>
              </div>
              <p class="text-white text-sm col-span-1">Sorting Order:</p>
              <select class="col-span-5 px-4 py-3 w-full font-bold text-white transition-all drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl rounded-md border border-white bg-slate-800 focus:ring-0 text-sm hover:text-mint focus:text-mint hover:border-mint focus:border-mint">
                <option value="" class="">None</option>
                <option value="Something" class="">Price Increase</option>
                <option value="Something2" class="">Price Decrease</option>
                <option value="Something3" class="">Most Popular</option>
                <option value="Something4" class="">Price Decrease</option>
              </select>
            </div>
          </div>
          <div class="py-1" role="none">
            <a href="javascript: resetForm();" class="text-white block px-4 py-2 text-sm transition-all hover:bg-mint hover:drop-shadow-lg hover:text-slate-800 hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menuReset">Reset</a>
            <a href="javascript: submitForm();" class="text-white block px-4 py-2 text-sm transition-all hover:bg-mint hover:drop-shadow-lg hover:text-slate-800 hover:text-lg hover:font-bold" role="menuitem" tabindex="-1" id="menuApply">Apply</a>
          </div>
        </form>
      </div>
      <div id="divHead" class="font-bold leading-tight uppercase text-3xl text-mint drop-shadow-lg">One-Way Flights
      </div>
      <div class="w-28 hidden sm:block">
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <ul role="list" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-5 md:grid-cols-4 md:gap-x-6 lg:grid-cols-5 lg:gap-x-7 xl:grid-cols-6 xl:gap-x-8">
      @foreach (var item in Model.packages)
      {
      <form method="post" asp-action="Index">
          <li class="relative">
              <button type="submit" class="packageButton group block w-full aspect-square overflow-hidden drop-shadow-lg transition-all hover:drop-shadow-xl hover:scale-105 active:scale-90">
              <input hidden asp-for="chosenPackage" value="@item.packageID">
              <input hidden asp-for="ways" value=@Model.ways>
              <img src="https://a0.muscache.com/im/pictures/dc77b547-0d65-438e-8946-c10fc355866d.jpg?im_w=720" class="rounded-xl w-full aspect-square object-cover pointer-events-none" />
              <span class="sr-only">View details</span>
            </button>
            <p class="pointer-events-none mt-2 font-bold leading-tight sm:text-lg block truncate text-mint">@item.flight1.source.country - @item.flight1.destination.country</p>
            <p class="pointer-events-none block text-sm font-medium text-white">@item.flight1.dateTo</p>
            <p class="pointer-events-none block text-sm font-medium text-white">@item.flight1.seatsRemain Seats left</p>
            <p class="pointer-events-none mt-1 block text-sm font-bold text-white">@item.flight1.adult$</p>
          </li>
      </form>
      }
    </ul>
  </div>
</div>

@section Scripts
{
  <script>
        function submitForm() {
            $('#FilterItems').submit();
        }
        function resetForm() {
            FilterItems.reset();
        }
  </script>
  <script>
      $(document).ready(function () {
        if(@Model.ways == 2)
        {
           $("#divHead").text("Two-Way Flights");
        }
        if(@Model.chosenPackage != -1)
        {
          $("#modal-wrapper").show();
        }
      });
  </script>
  <script>
    $("#closeBtn").click(function () {
        $("#modal-wrapper").hide();
    });
  </script>
  <script>
    $("#menuApply").click(function (event) {
      if ($("#direct").is(":checked"))
      {
        $("#directFlight").val(1);
      }
      else
      {
        $("#directFlight").val(0);
      }
    });
    $("#FilterButton").click(function (event) 
    {
      if(!$("#FilterItems").is(":visible"))
      {
        $("#FilterItems").show();
        $("#FilterButton").addClass("bg-mint border-mint drop-shadow-xl").removeClass("bg-slate-800 border-white drop-shadow-lg");
        $("#FilterIcon").addClass("text-slate-800").removeClass("text-white");
        $("#FilterText").addClass("text-slate-800").removeClass("text-white");
      }
      else
      {
        $("#FilterItems").hide();
        $("#FilterButton").addClass("bg-slate-800 border-white drop-shadow-lg").removeClass("bg-mint border-mint drop-shadow-xl");
        $("#FilterIcon").addClass("text-white").removeClass("text-slate-800");
        $("#FilterText").addClass("text-white").removeClass("text-slate-800");
      }
      event.stopPropagation();
    });
    var flag = true;
    $("#FilterItems").click(function (event) {
        flag = false;
        event.stopPropagation();
    });
    if (flag) {
        $(document).click(function () {
            $("#FilterItems").hide();
            $("#FilterButton").addClass("bg-slate-800 border-white drop-shadow-lg").removeClass("bg-mint border-mint drop-shadow-xl");
            $("#FilterIcon").addClass("text-white").removeClass("text-slate-800");
            $("#FilterText").addClass("text-white").removeClass("text-slate-800");
        });
    }
  </script>
}